* {
    padding:5px;
}

body{
    min-height:100vh;
    background-image: linear-gradient(to right top, #2f6ed3, #3476d7, #3b7eda, #4286de, #4a8ee1, #4a8ee1, #4a8ee1, #4a8ee1, #4286de, #3b7eda, #3476d7, #2f6ed3);
    display: flex;
    align-items:center;
    justify-content: center;
    font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Roboto;
}

.glass-efect{
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

h1{
    color:whitesmoke;
    width: 100%;
    font-size: 50px;
    font-weight: 700;
}

h2{
    color: black;
    font-size: 25px;
    margin: 10px 0 50px;
}

.light-text {
    color:white;
    background-color: black;
}

.black-text {
    color:black;
    font-weight: 600;
}

.header{
    text-align: center;
}

.result-container{
    font-size: 25px;
    font-weight: 600;
    background-color:white;
    border-radius: 5px;
    padding: 15px 0 15px ;
    margin: 10px 0 10px;
}

.numbers-container{
    display: flex;
    flex-direction: vertical;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0 10px;
}

.button{
    width: 20%;
    border-radius: 5px;
    border: transparent;
    background-color: black;
    color:blanchedalmond;
    font-size: 22px;
}





